@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800;900&family=Inter&display=swap');

html {
  @apply scroll-smooth;
}

code {
  @apply rounded-md px-1 font-code text-pink-600;
}

.link {
  @apply font-semibold text-blue-500 transition hover:underline hover:opacity-90 dark:text-blue-500;
}

.divider {
  @apply border-t-2 border-navy dark:border-ice;
}

.layout {
  @apply flex min-h-screen flex-col overflow-hidden bg-ice font-prose font-medium text-gray-800 opacity-[99%] dark:bg-navy dark:text-white;
}

.navbar {
  @apply z-20 w-full space-x-4 px-3 py-2 text-gray-800 dark:text-white md:py-0 md:px-3;
}

.hamburger {
  @apply text-gray-800 transition duration-200 ease-in dark:text-white md:hidden;
}

.header {
  @apply flex flex-1 items-center justify-between md:items-stretch md:justify-between;
}

.avatar {
  @apply rounded-full transition hover:opacity-80 md:hidden;
}

.min-h-adjusted {
  min-height: calc(100vh - 3.5rem);
}

.min-h-adjusted-top {
  min-height: calc(100vh - 3.5rem);
}

.robin-gradient {
  background: linear-gradient(to bottom right, theme('colors.primary'), theme('colors.secondary'));
}

.gradient {
  background: linear-gradient(to bottom, theme('colors.primary'), theme('colors.rose.900'), theme('colors.secondary'));
}

.dark .gradient {
  background: linear-gradient(to bottom, #a84447, #721839, #63275d);
}

.flow,
.dark .flow {
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
