.github {
  @apply rounded bg-[#333] px-1.5 py-1.5 text-white transition hover:opacity-80;
}

.linkedin {
  @apply rounded bg-[#0a66c2] px-1.5 py-1.5 text-white transition hover:opacity-80;
}

.linktree {
  @apply rounded bg-[#39e09b] px-1.5 py-1.5 text-white transition hover:opacity-80;
}

.instagram {
  @apply rounded px-1.5 py-1.5 text-white transition hover:opacity-80;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
